<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>neuralyn_tryon</name>
    <displayName><![CDATA[Neuralyn TRYON Integration]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Connect your store to Neuralyn TRYON SaaS platform and enable the Neuralyn widget.]]></description>
    <author><![CDATA[Neuralyn]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
